/user_data/plot/
/venv/
/user_data/logs/*
/user_data/data/*
/user_data/backtest_results/*
*/.idea/*
.idea/**
/.idea/*.*
/.idea/misc.xml
/.idea/ft_userdata.iml
/.idea/inspectionProfiles/profiles_settings.xml
/.idea/vcs.xml
/user_data/tradesv3.sqlite
